# SIGEFAR Suite - configuración local
SECRET_KEY=change-me-in-local-env
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
TIME_ZONE=America/Lima

# Base de datos PostgreSQL recomendada
DATABASE_ENGINE=django.db.backends.postgresql
DATABASE_NAME=sigefar_suite
DATABASE_USER=sigefar_user
DATABASE_PASSWORD=cambia_esta_clave_segura
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_CONN_MAX_AGE=60
# Para servidor local dejar vacío. Para nube/SSL usar: require
DATABASE_SSLMODE=
